fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
pandas>=2.2.3
numpy>=1.21.0
ta==0.11.0
groq==0.12.0
python-dotenv==1.0.1
pydantic==2.10.0
cachetools==5.5.0
scipy>=1.14.1
yfinance
matplotlib
mplfinance
langchain
langchain-openai
langchain-groq
langchain-anthropic
langchain-qwq
langchain-core
langgraph
openai
anthropic
ipython
Pillow
requests
